.fade-in {
  animation: fadeIn .7s forwards;
}

.fade-out {
  animation: fadeOut .7s forwards;
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
  }

  100% { 
    opacity: 1; 
  }
}

@keyframes fadeOut {
  0% { 
    opacity: 1; 
  }

  100% { 
    opacity: 0; 
  }
}