// Roboto font-face

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-Thin.ttf);
    src: url(../src/webfonts/Roboto-Thin.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-ThinItalic.ttf);
    src: url(../src/webfonts/Roboto-ThinItalic.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-Light.ttf);
    src: url(../src/webfonts/Roboto-Light.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-LightItalic.ttf);
    src: url(../src/webfonts/Roboto-LightItalic.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-Regular.ttf);
    src: url(../src/webfonts/Roboto-Regular.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-Italic.ttf);
    src: url(../src/webfonts/Roboto-Italic.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-Medium.ttf); 
    src: url(../src/webfonts/Roboto-Medium.woff2); 
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-MediumItalic.ttf);
    src: url(../src/webfonts/Roboto-MediumItalic.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-Bold.ttf);
    src: url(../src/webfonts/Roboto-Bold.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-BoldItalic.ttf);
    src: url(../src/webfonts/Roboto-BoldItalic.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-Black.ttf);
    src: url(../src/webfonts/Roboto-Black.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url(../src/webfonts/Roboto-BlackItalic.ttf);
    src: url(../src/webfonts/Roboto-BlackItalic.woff2);
    font-style: italic;
    font-weight: 900;
}

