@use '../utils' as *;

.form {
    display: flex;
    flex-direction: row;
    width: 74%;
    height: 76%;
    background-color: #fff;
    border-radius: rem(20);
    @include form-shadow;

    @include breakpoint-down(medium) {
        height: 80%;
        height: 86%;
    }

    @include breakpoint-down(small) {
        width: 85%;
        height: 94%;
    }

    &__signin,
    &__signup {
        width: 50%;
        height: 100%;
        padding: rem(40);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint-down(xlarge) {
            width: 60%;
        }

        @include breakpoint-down(large) {
            width: 70%;
            padding: rem(40) rem(50);
        }

        @include breakpoint-down(medium) {
            width: 100%;
            padding: rem(40) rem(46);
        }

        @include breakpoint-down(small) {
            padding: rem(40) rem(30);
        }

        .form-wrapper {
            display: block;
            width: 100%;

            form {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: rem(40) 0;

                .input {
                    outline: none;
                    border: none;
                    border-bottom: $primary solid rem(2);
                }
        
                .input {
                    width: 100%;
                    height: rem(40);
                    margin: rem(4) 0;
                }

                .remember-password {
                    width: 100%;
                    height: rem(40);
                    margin: rem(4) 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: rem(10) 0;
                    margin-bottom: rem(10);

                    @include breakpoint-down(xsmall) {
                        flex-direction: column;
                        align-items: flex-start;
                        height: auto;
                    }

                    .remember-me {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        .checkbox {
                            width: rem(15);
                            height: rem(15);
                            accent-color: $primary;
                        }

                        h3 {
                            margin-left: rem(4);
                        }
                    }

                    .forget-password {

                        @include breakpoint-down(xsmall) {
                            width: 100%;
                            text-align: center;
                            margin: rem(10) 0;
                            margin-top: rem(30);
                        }
                    }
                }

                .input:-webkit-autofill,
                .input:-webkit-autofill:hover,
                .input:-webkit-autofill:focus,
                .input:-webkit-autofill:active {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-text-fill-color: $black !important;
                }
        
                .input::selection,
                .input:-webkit-autofill::selection,
                .input:-webkit-autofill::selection,
                .input:-webkit-autofill::selection,
                .input:-webkit-autofill:active::selection {
                    color: #fff;
                    background-color: $primary;
                    -webkit-text-fill-color: #fff !important;
                }
            }
        }
    } 
}